In [1]:
import os
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [2]:
os.getcwd()

'/Users/caseyh/Desktop/footyfootyfooty/data_import'

In [3]:
path = '/Users/caseyh/Desktop/footyfootyfooty/dfs_2023_player_stats.csv'

In [6]:
df = pd.read_csv(path)

In [7]:
df.head()

,player,team,opponent,year,round,kicks,handballs,marks,tackles,hitouts,...,freesAgainst,goals,behinds,cbas,kickins,kickinsPlayon,tog,fantasyPoints,superCoachPoints,namedPosition
0,Jordan Dawson,ADE,COL,2023,15,27,8,9,12,0,...,1,0,0,21,0,0,81,172,149,C
1,Rory Laird,ADE,COL,2023,15,10,21,4,7,0,...,1,0,0,22,0,0,79,111,125,RR
2,Izak Rankine,ADE,COL,2023,15,14,7,7,4,0,...,0,1,1,0,0,0,90,100,78,FPR
3,Taylor Walker,ADE,COL,2023,15,12,1,7,2,1,...,1,5,1,0,0,0,86,97,117,FF
4,Ben Keays,ADE,COL,2023,15,11,18,2,5,0,...,2,0,1,21,0,0,84,90,119,R

In [15]:
df.groupby('player').mean().cbas.reset_index().sort_values('cbas', ascending = False).head(30)

                  player       cbas
35    Bailey J. Williams  25.071429
558       Todd Goldstein  24.769231
350         Lachie Neale  24.357143
550            Tim Kelly  24.285714
486       Reilly O'Brien  24.000000
491         Rhys Stanley  24.000000
443            Ned Moyle  24.000000
107       Clayton Oliver  24.000000
566            Tom Green  23.461538
343        Kieren Briggs  23.000000
540     Stephen Coniglio  22.928571
407          Matt Rowell  22.928571
396         Mark Blicavs  22.928571
139         Darcy Parish  22.888889
549          Tim English  22.785714
380  Luke Davies-Uniacke  22.714286
385          Luke Parker  22.615385
79          Caleb Serong  22.500000
472      Oscar McInerney  22.428571
313         Josh Dunkley  22.428571
404           Matt Flynn  22.222222
498           Rory Laird  22.214286
568           Tom Hickey  22.200000
533           Sean Darcy  22.083333
557       Toby Nankervis  22.000000
77          Brynn Teakle  21.750000
276         Jarrod Witts  21.750000
530         Scott Lycett  21.700000
20       Andrew Brayshaw  21.357143
501       Rowan Marshall  21.214286